/* CSS Global  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: rgba(108, 219, 253, 0.507);
  color: black;
  padding: 0;
}

.container {
  max-width: 1200px;
  background-color: rgb(60, 124, 241);
  margin: 200px auto 20px;
}

/* Card base */
.card {
  background-color: rgba(255, 255, 255, 0.986);
  border-radius: 12px;
  padding: 15px 35px;
  box-shadow: 0 4px 12px rgb(255, 255, 255);
  border-top: 4px solid;
  margin-bottom: 30px;
}

/* Different module colors */
.card.module-2 {
}

pre {
}

.note {
}

.note::before {
}

code {
  background-color: gray;
  border-radius: 4px;
  padding: 2px 4px;
}

.badge {
  color: rgb(24, 4, 202);
  border-radius: 99px;
  background-color: rgb(126, 79, 18);
  padding: 3px 8px;
  font-size: 0.8rem;
  vertical-align: middle;
}

/* Images (global safe defaults) */
img {
}

/* CSS For Group 1: Header  */
header {
  background-color: rgb(134, 131, 131);
  box-shadow: 5px 5px 5px rgb(255, 247, 247);
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}
h1 {
  color: rgb(10, 68, 228);
}

.list-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px;
  justify-content: center;
} /* CSS For Group 2: Card 1: Basics  */

.list-menu li {
  background-color: rgb(86, 52, 236);
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
}

.list-menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* CSS For Group 3: Card 2: Resize & aspect  */
.list-menu li:hover {
  background-color: rgb(46, 43, 190);
}

.img_small {
  display: block;
  width: 10%;
}

.position {
  display: flex;
  align-items: center;
  border: 1px dashed;
  margin: 15px 0 0;
}
.position.left {
  display: flex-start;
}

.position.center {
  justify-content: center;
}
.position.right {
  justify-content: flex-end;
}

.img_small {
  width: 100px;
  height: auto;
}
/* CSS For Group 3: Card 2: Resize & aspect  */
/* CSS For Group 4: Card 3: Object fit  */

/* CSS For Group 5: Card 4: Image as Link  */

/* CSS For Group 6: Card 5: Gallery  */

/* CSS For Group 7: Card 6: Responsive  */

/* CSS For Group 8: Card 7: Figure & Caption + Task  */

/* CSS For Group 9: Card 8: Local file tips  */

/* CSS For Group 10: Back to Tutorial */
